
/* Main container */
.container {
  width: 100%;
  max-width: 500px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.form label {
  font-size: 18px;
  margin-bottom: -10px;
}

.form input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #d9d9d9;
  color: black;
}

.confirm-btn {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background: #d84040;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* Social Login */
.social-login {
  margin-top: 50px;
  text-align: center;
}

.social-buttons {
  margin-top: 15px;
  background: #d9d9d9;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-buttons img {
  width: 40px;
  cursor: pointer;
}

/* Bottom text */
.bottom-text {
  margin-top: 50px;
  font-size: 18px;
}

.bottom-text a {
  color: #d84040;
  font-weight: 700;
}
